body {

	background-color: cream;
    
}

#abc{
	font-size: 25px;
	font-family: Impact, Charcoal, sans-serif;


}

#abd{
    font-size: 25px;
    font-family: impact,charcoal, sans-serif;
}

#def{
	font-size: 25px;
	font-family: impact, charcoal, sans-serif;
}




